.btn {
    &:link, &:visited {
     color: $cor12;
     border-bottom: 1px solid $cor12;
     padding: 1rem;
     transition: all .2s;
     font-size: $font;
     display: inline-block;
    }
    
    &:hover {
        background-color: $cor12;
        color: #fff;
        box-shadow: $box-shadow;
        border-bottom: 0;
        
        //animação so funciona com inline-block 
        transform: translateY(-.5rem);
    }
    
    &:active {
        transform: translateY(0);
    }
}