.headline {
  font-size: 3.5rem;
  text-align: center;
  transition: all 0.2s;
  // Gradient Effect
  background-image: linear-gradient(to right, $cor11, $cor12);
  background-clip: border-box;
  -webkit-background-clip: text; //Like a mask
  color: transparent;
}
