$cor11: #7ed56f;
$cor1: #55c57a;
$cor12: #28b485;

$cor21: #ffb900;
$cor22: #ff7730;

$cor31: #2998ff;
$cor32: #5643fa;

$cinza: #666;
$cinzaGelo: #f7f7f7;
$cinzaClaro: #f7f7f7;

$black: #333;

//  ------ Grid
$grid-spacing: 5%;

// ---- Shadow
$box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);

// ----- Sizes
$font: 1.6rem;
